* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  /* background-color: #222; */
  text-align: center;
  /* color: #ffe; */
  align-content: center;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 340px;
  padding: 50px 0;
  /* padding: 6px; */
}

.logo img {
  width: 100%;
  /* max-width: 250px; */
  min-width: 80px;
  padding: 10px;
}

@media (max-width: 450px) {
  .logo {
    max-width: 300px;
    padding: 40px 0;
  }
}
.title {
  font-size: 1.5rem;
}
.description {
  margin-bottom: 2rem;
}
.description a {
  font-weight: bolder;
}

.name {
  margin-bottom: 2rem;
}

.ltv-logo {
  max-width: 150px;
}

.LTV-intro {
  margin: 1rem auto 2rem auto;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  max-width: 1400px;
  gap: 2rem;
  justify-items: stretch;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (max-width: 450px) {
  .videos-grid {
    display: block;
  }
  body {
    padding: 0 10px;
  }
}

.video-container {
  border: solid 1px #e2e2e2;
  border-radius: 10px;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  color: #222;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.video-container iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  /* Hace el video responsivo */
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 10px 10px 0 0;
}
.video-main {
  width: 100%;
  max-width: 1400px; /* O el mismo max-width que uses en .videos-grid */
  margin-bottom: 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background: #fff;

  padding-bottom: 1rem;
}

.video-main iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: 10px 10px 0 0;
}

.titulo-video {
  font-size: 1.1rem;
  font-weight: 600;
}

.descripcion-video {
  padding-bottom: 1rem;
}
@media (max-width: 450px) {
  .titulo-video {
    font-size: 0.9rem;
  }

  .descripcion-video {
    font-size: 0.8rem;
  }
}
