/* Reset de márgenes y rellenos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure,
figcaption,
blockquote,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
table,
tr,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}

/* Establecer bordes en elementos no decorativos */
img,
fieldset {
  border: 0;
}

/* Normalizar la configuración de box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ajustes opcionales para estilos básicos */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* Estilo de los elementos semánticos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Elementos de lista con estilo */
ul,
ol {
  list-style: none;
}

/* Estilo básico para los enlaces */
a {
  color: inherit;
  text-decoration: none;
}

/* Ajustes opcionales para botones */
button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* Asegura que el contenido ocupe al menos todo el alto de la pantalla */
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background: aquamarine;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.button-container {
  max-width: 900px;
  display: flex;
  justify-content: center;
}

button {
  flex: 1;
  padding: 15px 30px;
  background-color: #fff;
  color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #333;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 100%;
  /* El pie de página ocupará todo el ancho de la página */
  flex-shrink: 0;
  /* Evita que el pie de página se contraiga */
}